/* || FONTS */

@font-face {
    font-family: Questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

/* || VARIABLES */

:root{
    /* colors */
    --black: #000000;
    --black-light: #070d0b;
    --black-transparent: rgba(7, 13, 11, 0.9);
    --white: #ffffff;
    --gray: #aebab6;
    --gray-darker: #787777;
    --green-darkest: #182a23;
    --green-darker: #40725f;
    --green-dark: #4a9881;
    --green-lighter: #65bea4;
    --green-light: #79ebc9;
    --green-lightest: #bef9d5;
    /* fonts */
    --poppins: "Poppins", Arial, Helvetica, sans-serif;
    --questrial: "Questrial", Arial, Helvetica, sans-serif;
    /* units */
    --url-bar-heigth: 60px;
}

/* || UTILITIES */
.section-no-padding {
    padding: 0;
    width: 100%;
}

.padding-26{
    padding: 0 26px !important;
}

/* || RESET */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* || GLOBAL STYLES */

body{
    position: relative;
    background-color: var(--black-light);
    font-family: var(--questrial);
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

i{
    color: white;
    font-size: 24px;
}

.title{
    font-family: var(--poppins);
    font-size: 36px;
}

.small{
    font-size: 12px;
    line-height: 14px;
}

.medium{
    font-size: 14px;
}

.large{
    font-size: 16px;
}

.btn-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn{
    display: block;
    box-sizing: border-box;
    padding: 13px 28px !important;
    border-radius: 15px;
    font-size: 16px !important;
    line-height: 16px;
}

.btn:hover,
.btn:focus{
    transition: .3s;
}

.btn-green{
    background-color: var(--green-darker);
    border: 3px solid var(--green-darker);
}

.btn-green:hover,
.btn-green:focus{
    background-color: var(--green-dark);
    border: 3px solid var(--green-dark);
}

.btn-transparent{
    background-color: rgba(7, 13, 11, 0.25);
    border: 3px solid var(--green-darker);
}

.btn-transparent:hover,
.btn-transparent:focus{
    background-color: rgba(64, 114, 95, 0.25);
    border: 3px solid var(--green-darker);
}

.social{
    width: 100%;
    display: flex;
    justify-content: center;
}

.social a{
    margin: 0 14px;
}

/* || LAYOUT */

main,
.full-screen{
    width: 100%;
    height: 100vh;
}

main {
    position: relative;
}

.full-screen{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black-light);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.background{
    height: 100vh;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../img/bg.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -150px;
    background-position-y: 130px;
    background-blend-mode: darken;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

section{
    width: calc(100% - 52px);
    height: calc(100vh - var(--url-bar-heigth));
    margin-top: var(--url-bar-heigth);
    padding: 0 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* || LOADING */

#loading{
    animation-name: removeLoadingScreen;
    animation-delay: 4.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes removeLoadingScreen {
    to {
        left: 100%;
        visibility: collapse;
    }
}

.loading-circle{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation-name: loadingCircle;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes loadingCircle {
    to {
        stroke-dashoffset: 0;
    }
}

.loading-line{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation-name: loadingLine;
    animation-delay: 2s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes loadingLine {
    to {
        stroke-dashoffset: 0;
    }
}

/* || HEADER */

header{
    width: calc(100% - 52px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 12px 26px;
    background-color: var(--black-light);
    box-shadow: -10px 0px 35px 0px var(--green-darker);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 36px;
    height: 36px;
}

.logo img{
    width: 100%;
    height: 100%;
}

#menu-check{
    display: none;
}

#burger{
    width: 26px;
    height: 18px;
    position: fixed;
    top: 21px;
    right: 26px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#burger span{
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: .5s;
}

#menu-check:checked ~ #burger span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#menu-check:checked ~ #burger span:nth-child(2){
    opacity: 0;
}

#menu-check:checked ~ #burger span:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

#menu{
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(100%);
    transition: .5s;
}

#menu-check:checked ~ #menu {
    transform: translateX(0);
}

#menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu ul li:last-child{
    margin-top: 55px;
}

#menu ul li a{
    padding: 10px 0;
    font-size: 28px;
}

#menu ul li:not(:last-child) a{
    display: block;
}

/* || LANDING SECTION */

#landing .title{
    font-size: 32px;
    margin-bottom: 24px;
}

#landing h1{
    margin-bottom: 18px;
}

#landing p{
    font-size: 16px;
    margin-bottom: 32px;
}

#landing .btn-group{
    margin-bottom: 68px;
}

/* || ABOUT SECTION */

#about h2{
    margin: 0 0 32px 0;
}

#about p{
    font-size: 16px;
    margin-bottom: 16px;
}

#about .image{
    align-self: center;
    width: 119px;
    height: 179px;
    position: relative;
    margin-top: 16px;
}

#about .image .frame{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 1;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(
        135deg,  
        var(--green-darker), 
        var(--green-lightest), 
        var(--gray-darker)
    );
}

#about .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 10px;
    right: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* || WORK SECTION */

#work {
    overflow: hidden;
}

#work .pill-wrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#work .pill {
    width: 174px;
    height: 36px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border: 1px solid var(--green-darker);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

#work .pill span {
    z-index: 2;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work .pill .slider {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(var(--green-darker), var(--black-transparent));
    z-index: 1;
}

#work .cards-box {
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

#work .cards-box::-webkit-scrollbar {
    display: none;
}

#work .cards-box .cards-wrapper{
    width: fit-content;
    height: 416px;
    display: flex;
    position: relative;
}

#work .cards-box .cards-wrapper .card {
    width: calc(100vw - 150px);
    height: calc(100% - 62px);
    padding: 25px;
    position: relative;
    border: 6px solid var(--green-darker);
    border-radius: 10px;
    margin: 0 10px;
}

#work .cards-box .cards-wrapper .card:first-child {
    margin: 0 10px 0 40px;
}

#work .cards-box .cards-wrapper .card:last-child {
    margin: 0 40px 0 10px;
}

#work .cards-box .cards-wrapper .card .company-logo,
#work .cards-box .cards-wrapper .card .content{
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 25px;
}

#work .cards-box .cards-wrapper .card .company-logo{
    justify-content: center;
    align-items: center;
}

#work .cards-box .cards-wrapper .card .company-logo img {
    width: 80%;
    opacity: 0.35;
}

#work .cards-box .cards-wrapper .card .content{
    flex-direction: column;
    z-index: 2;
    background-color: rgba(64, 114, 95, 0.3);
}

#work .cards-box .cards-wrapper .card .content .position-info {
    display: flex;
    flex-direction: column;
    height: 100px;
}

#work .cards-box .cards-wrapper .card .content .position-info a{
    margin: 3px 0;
    color: var(--green-lighter);
    text-decoration: underline;
}

#work .cards-box .cards-wrapper .card .content .reponsibilities-wrapper {
    display: flex;
    align-self: flex-end;
}

#work .cards-box .cards-wrapper .card .content .reponsibilities-wrapper ul {
    list-style-type: disc;
}

#work .cards-box .cards-wrapper .card .content .reponsibilities-wrapper ul li{
    margin-bottom: 10px;
}
